@charset "utf-8";

// Set your brand colors
$palette-1: #E6DEDB;
$palette-2: #C9AAA3;
$palette-3: #9D635B;
$palette-4: #682F11;
$palette-5: #6B2E23;

// Update Bulma's global variables
$primary: $palette-5;
$dark: $palette-4;
$light: $palette-2;

$link: $primary;

// Navbar customization
$navbar-background-color: #C9AAA3;
$navbar-dropdown-item-hover-color: #682F11;
$navbar-dropdown-item-hover-background-color: #C9AAA3;
$navbar-dropdown-item-active-color: #682F11; 
$navbar-dropdown-item-active-background-color: #C9AAA3; 
$navbar-divider-background-color: #C9AAA3; 

$box-padding: 1.25rem;
// $box-background-color: $palette-2;


// Update some of Bulma's component variables

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
@import './search';
@import './overlay';
@import './funFactCarousel';
@import './petGuide';
@import './faq';
