@charset "utf-8";

// Set your brand colors
$brown: #682F11;

// Update Bulma's global variables
$primary: $brown;

// Update some of Bulma's component variables

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

#searchResults {
    transition: opacity 0.4s;
}

#searchResults.loading {
    opacity: 0.5;
}
